@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');

body {
  font-family: 'Purple Purse', cursive;
  background-color: #f2fbfe;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.footer {
  background-color: #fed64f;
}

.song-info {
  border: 2px solid rgb(12, 94, 12);
  border-radius: 5px;
  padding-top: 1.5rem;
  text-align: center;
  color: #e2edff;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  color: #e2edff;
  font-size: 2em;
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 25%;
}

.song-info .album-image {
  width: 50%;
}

.song-info .song-title {
  font-weight: bold;
  font-size: 0.6em;
  color: #000;
}

.song-info .song-artist {
  margin-top: 15px;
  font-size: 0.5em;
  color: #000;
}

button {
  top: 25%;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-height: 35px;
  min-width: 75px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
