* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafdd6;
  position: relative;
}

.App {
  text-align: center;
}

.header {
  background-color: #a2b38b;
  justify-content: space-between;
}

.body {
  background-color: #fafdd6;
  padding-top: 10px;
}

.footer {
  background-color: #e4e9be;
}

.input {
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 12px;
  width: 300px;
  font-size: 18px;
  border-radius: 8px;
  border: 3px solid #e4e9be;
}

.search-label {
  font-size: 24px;
  font-weight: 600;
  color: #f2f2f2;
}

.btn--access-token {
  margin-top: 5px;
  font-size: 16px;
}

.song-info {
  border: 2px solid rgba(12, 94, 12, 0.509);
  border-radius: 5px;
  padding-top: 1.5rem;
  text-align: center;
  color: #e2edff;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  color: #e2edff;
  font-size: 2em;
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 25%;
}

.song-info .album-image {
  width: 50%;
}

.song-info .song-title {
  font-weight: bold;
  font-size: 0.6em;
  color: #000;
}

.song-info .song-artist {
  margin-top: 15px;
  font-size: 0.5em;
  color: #000;
}

.btn {
  width: 110px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition);
  top: 25%;
  color: #fff;
  border: none;
  min-height: 35px;
  min-width: 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.btn:hover {
  opacity: 1;
}

.btn-token {
  width: 110px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition);
}

.btn-song {
  background-color: #e6ba95;
}
